

h1,
h2,
h3 {
    font-family: "Inter", Arial, sans-serif ;
    color: #cd9e9e ;
    letter-spacing: 0.5px;
    line-height: 1.25;
}

h1 {
    font-size: 42px ;
    font-weight: 800 ;
    color: #080707 ;
}

h2 {
    font-size: 32px ;
    font-weight: 700 ;
    color: #b25a5a ;
}

h3 {
    font-size: 24px ;
    font-weight: 600 ;
    color: #000000 ;
}

p {
    font-family: "Inter", sans-serif ;
    font-size: 16px ;
    line-height: 1.7 ;
    color: #000000 ;
}


a {
    color: #000000 ;
    font-weight: 600;
}

a:hover {
    color: #000000 ;
}

a:active {
    color: #000000 ;
}

button,
.btn,
input[type=submit] {
    background: #7b2cbf ;
    border-radius: 8px ;
    border: none ;
    padding: 10px 24px ;
    color: rgb(214, 155, 155) ;
    font-weight: 600;
    transition: 0.25s ease;
}

button:hover,
.btn:hover {
    background: #9d4edd ;
}

button:active,
.btn:active {
    background: #c77dff ;
}



section#about,
section#resume,
section#portfolio {
    padding: 80px 0 ;
    
}


section#about .content,
.resume .resume-item,
.portfolio .portfolio-item {
    background: #974d4d ;
    border-radius: 16px ;
    padding: 25px ;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08) ;
}

navbar
.nav-tabs {
    border-bottom: 3px solid #5c0091 ;
}

.nav-tabs .nav-link {
    background: #5f5c61 ;
    border: none ;
    padding: 12px 20px ;
    border-radius: 12px 12px 0 0 ;
    color: #5a189a ;
    font-weight: 600;
    margin-right: 8px;
}

.nav-tabs .nav-link.active {
    background: #9d4edd ;
    color: rgb(243, 121, 121) ;
}


.portfolio .portfolio-item {
    border-radius: 20px ;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15) ;
    transition: transform .25s ease, box-shadow .25s ease;
}

.portfolio .portfolio-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.20) ;
}


.portfolio .portfolio-item .portfolio-info {
    background: rgba(123, 44, 191, 0.75) ;
    color: rgb(177, 59, 59) ;
}

.portfolio .portfolio-info h4,
.portfolio .portfolio-info p {
    color: rgb(217, 122, 122) ;
}


.portfolio .portfolio-info .preview-link,
.portfolio .portfolio-info .details-link {
    color: rgb(201, 86, 86) ;
}

.portfolio .portfolio-info .preview-link:hover,
.portfolio .portfolio-info .details-link:hover {
    color: #b06557 ;
}